node/node_modules/*
static/
static/*
logs/
logs/*
logs/*.log
.idea/*
workspace.xml
*.xml
media
*.pyc
*.pyc
*/__pycache__
*/__pycache__/*
*/migrations/*.py
*/migrations/*
!*/migrations/__init__.py
.vscode/*
.dump.rdb
.idea/workspace.xml
*.pyc
*/__pycache__
*/__pycache__/*
*/migrations/*.pyd
*/migrations/*
!*/migrations/__init__.py
.vscode/*
.dump.rdb
.idea/workspace.xml
run.sh
.env
venv/